BOT_TOKEN1_TG_relese = 
BOT_TOKEN1_TG_debug = 


ADMINS = 
MAX_SUBSCRIPTIONS = 

WINDOWS_PATH_DRIVER =
LINUX_PATH_DRIVER = 

DATABASE_URL = 

# Отдельный потому что алембик не может работать с асинхронщиной
ALEMBIC_DATABASE_URL = 